.main-div {
  width: 100%;
  text-align: center;
}
.todo-list-heading {
  margin-top: 10rem;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}
.todo-value {
  border-radius: 10px;
  border-color: black;
}
.add-btn {
  margin-top: 1rem;
  background-color: rgb(37, 87, 180);
  color: white;
  width: 10%;
  border-width: 0px;
  border-radius: 5px;
}
.main-container-show {
  margin-top: 2rem;
  width: 50%;
  text-align: center;
  background-color: whitesmoke;
  border-color: black;
  border-radius: 5px;
}
.list-show {
  margin-left: 1rem;
}
.delete-btn {
  background-color: rgb(221, 59, 47);
  color: rgb(14, 13, 13);
  width: 15%;
  border-width: 0px;
  font-weight: 600;
  border-radius: 5px;
  float: right;
}
.update-btn {
  background-color: rgb(245, 205, 30);
  color: rgb(14, 13, 13);
  width: 15%;
  border-width: 0px;
  font-weight: 600;
  border-radius: 5px;
  float: right;
}
input[type="checkbox"]:checked ~ span.list-show {
  text-decoration: line-through;
}
